<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">

    <title>Rock Paper Scissors</title>
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="small-5 columns text-center">
                <img v-if="myChoice!==null" v-bind:src="'images/'+myChoice+'.png'" class="text-center">
                <img v-else src="images/question.png" class="text-center">
                <h1 class="text-center"><strong>YOU</strong></h1>
            </div>
            <div class="small-2 columns text-center">
                <h1 style="font-size: 100px;"><strong>{{count}}</strong></h1>
            </div>
            <div class="small-5 columns text-center">
                <img v-if="comChoice!==null" v-bind:src="'images/'+comChoice+'.png'" class="text-center">
                <img v-else src="images/question.png" class="text-center">
                <h1 class="text-center"><strong>Computer</strong></h1>
            </div>
        </div>

        <div class="row">
            <div class="small-6 columns text-center">
                <div class="battle-wrap">
                    <img v-for='i in lifeOfMe' src="images/heart.png" alt="" class="heart">
                    <img v-for='i in 3-lifeOfMe' src="images/heart-empty.png" alt="" class="heart">
                </div>
            </div>
            <div class="small-6 columns text-center">
                <div class="battle-wrap">
                    <img v-for='i in Array(lifeOfCom)' src="images/heart.png" alt="" class="heart">
                    <img v-for='i in Array(3-lifeOfCom)' src="images/heart-empty.png" alt="" class="heart">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-6 columns text-center">
                <div class="row">
                    <div class="small-8 small-offset-2 columns text-center">
                        <label class="radio-label">
                            <input type="radio" v-model="myChoice" value="scissors">가위
                        </label>
                        <label class="radio-label">
                            <input type="radio" v-model="myChoice" value="rock">바위
                        </label>
                        <label class="radio-label">
                            <input type="radio" v-model="myChoice" value="paper">보
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div v-if='!running' class="text-center">
                            <button class="start-btn" @click="startGame">선택 완료!</button>
                        </div>
                        <div v-else class="loading">기다리는 중 ...</div>
                    </div>
                </div>
            </div>
            <div class="small-6 columns text-center">
                <p>생각 중 ...</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns log">
                <ul>
                    <li v-for="log in logs" :class="log.logClass">{{log.message}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>